.nav .w .left .dd {
    display: none;
}
.body .left {
    float: left;
    width: 400px;
}
.body .left .top {
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 12px;
}
.body .left .bottom {
    position: relative;
    width: 398px;
    height: 398px;
    border: 1px solid #CCCCCC;
    margin-bottom: 60px;
}
.body .left .bottom img {
    width: 398px;
    height: 398px;
}

#three {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    background: rgba(255, 196, 2, 0.3);
}
#six {
    overflow: hidden;
    position: absolute;
    
    display: none;
    /* float: left; */
    top: 242px;
    left: 480px;
    width: 400px;
    height: 400px;
    border: 1px solid #666;
}

#six img {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 600px;
}



a {
    font-size: 12px;
    color: #666666;
}
a:hover {
    color: #E33333;
}
.body .left .foots {
    width: 360px;
}
.body .left .foots li {
    float: left;
    width: 58px;
    height: 58px;
     border: 2px solid transparent;
}
.body .left .foots li img {
    width: 58px;
    height: 58px;
}
.body .left .foots li:first-child{
    width: 22px;
    height: 32px;
    margin-right: -2px;
    margin-top: 15px;
}
.body .left .foots li:first-child img{
    width: 22px;
    height: 32px;
}
.body .left .foots li:last-child{
    width: 22px;
    height: 32px;
    margin-top: 15px;
}
.body .left .foots li:last-child img{
    width: 22px;
    height: 32px;
}
.body .left .foots li:nth-of-type(3){
    border: 2px solid #C81623;
}
/* .body .left .foot li::after {
    position: absolute;
    top: 12px;
    left: 0;
    content: "";
    width: 22px;
    height: 32px;
    background-image: url(../image/arrow-prev.png);
}
.body .left .foot li::before {
    position: absolute;
    top: 12px;
    right: 0;
    content: "";
    width: 22px;
    height: 32px;
    background-image: url(../image/arrow-next.png);
} */
.body .right {
    float: right;
    margin-left: 80px;
    margin-top: 48px;
    width: 720px;
}
.body .right h2 {
    margin-bottom: 12px;
    font-size: 16px;
    color: #666666;
}
.body .right h6 {
    margin-bottom: 15px;
    font-size: 12px;
    color: #E12228;
    font-weight: 400;
}
.body .it {
    width: 720px;
    height: 140px;
    background-color: #FEE9EB;
}
.body .it .left {
    float: left;
    margin-right: 34px;
    padding-left: 8px;
    padding-top: 21px;
    width: 28px;
}
.body .it .left span {
    display: block;
    width: 24px;
    font-size: 10px;
    color: #666;
    margin-bottom: 35px;
}
.body .it .center{
    float: left;
    padding-top: 18px;
    width: 445px;
}
.body .it .center span {
    margin-right: 2px;
    font-size: 20px;
    color: #E12228;
}
.body .it .center a {
    color: #E33333;
}
.body .it .center p {
    margin-top: 18px;
    font-size: 10px;
    color: #666;
    line-height: 37px;
}
.body .it .center i {
    display: inline-block;
    margin-right: 2px;
    font-style: normal;
    width: 40px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: #C81623;
    color: white;
}
.body .it .righ {
    float: right;
    width: 94px;
    padding-top: 22px;
}
.body .it .righ span {
    font-size: 12px;
    color: #666;
}
.body .right dl {
    margin-top: 10px;
    margin-bottom: 22px;
    padding-left: 8px;
    width: 392px;
    font-size: 12px;
    color: #666;
}
.body .right dd {
    margin-top: 10px;
}
.body .right dt span {
    margin-right: 35px;
}
.body .right dd span{
    margin-right: 13px;
}
.body .right dd a {
    display: inline-block;
    margin-right: 5px;
    padding: 8px 13px;
    border: 1px solid #ccc;
    background-color: #F1F1F1;
}
.body .right dd a:first-of-type{
    border: 1px solid #C81623;
}
.body .right .didi {
    float: left;
    width: 50px;
    height: 46px;
}
.body .right input {
    float: left;
    text-align: center;
    width: 34px;
    height: 44px;
    border: 1px solid #CCCCCC;
}
.body .right .jia {
    float: left;
    width: 12px;
    height: 21px;
    line-height: 17px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-left: none;
    background-color: #F1F1F1;
    cursor: pointer;
}
.body .right .jian {
    float: left;
    width: 12px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-left: none;
    border-top: none;
    background-color: #F1F1F1;
    cursor: not-allowed;
}
.body .right .jian a{
    cursor: not-allowed;
}
.body .right button {
    margin-left: 8px;
    width: 140px;
    height: 45px;
    background-color: #C81623;
    border: none;
}
.body .right button a {
    color: white;
    font: 700 20px "Microsoft YaHei";
}
.bt {
    margin-top: 68px;
}
.bt .leftt{
    float: left;
    width: 211px;
    border: 1px solid #ccc;
}
.bt .leftt .one {
    height: 35px;
}
.bt .leftt .aa,
.bt .leftt .bb {
    float: left;
    width: 105px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.bt .leftt .aa {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #F1F1F1;
}
.bt .leftt .bb {
    color: #E12228;
}
.bt .leftt ul {
    display: inline-block;
    width: 211px;
    padding: 0 12px;
}
.bt .leftt li {
    height: 232px;
    width: 187px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    color: #666;
}
.bt .leftt li img {
    width: 100%;
    height: 137px;
}
.bt .leftt li p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bt .leftt li b{
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 10px;
}
.bt .leftt li .button {
    margin-left: 45px;
    width: 90px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #F1F1F1;
    border: 1px solid #ccc;
}
.bt .nima .canshu li i {
    font-family: 'icomoon';
    font-style: normal;
}
.nini {
    float: left;
    margin-left: 10px;
    width: 975px;
}
.nini .ss {
    height: 40px;
    border: 1px solid #ccc;
    background-color: #F1F1F1;
}
.nini .ss li {
    float: left;
    width: 88px;
    height: 38px;
    line-height: 38px;
    text-align: center;
}
/* .nini .ss li:first-child{
    background-color: #C81623;
}
.nini .ss li:first-child a {
    color: white;
} */
.nini .canshu {
    display: inline-block;
    width: 958px;
    padding-top: 25px;
    padding-left: 17px;
}
.nini .canshu li {
    margin-bottom: 10px;
    font-size: 12px;
    color: #666;
}
.nini .canshu li:last-child{
    text-align: right;
}
.nini .canshu li:last-child a {
    font-weight: 700;
}
.nini .canshu .sj {
    width: 976px;
    height: 771px;
}
.nini .canshu img {
    width: 100%;
    height: 100%;
}
.nini .canshu .sjj {
    width: 976px;
    height: 485px;
}
.nini .canshu .sjjs{
    width: 750px;
    height: 420px;
}